html {
    border: solid 2px;
    background: rgb(73, 77, 77);
    text-align: center;
}

body {
    height: auto;
}

h1 {
    color: rgb(233, 218, 233);
}
#navbar {
    display: block;
    top: 0px;

    color: wheat;
}

.img {
    max-width: 200%;
    height: 200px;
    
}
.zuri {
    
    max-width: 75%;
    position: relative;
    top: 0%;
}

main {
    margin-bottom: 10px;
    
    color: tomato;
    }


li {
    text-align: -webkit-match-parent;
    margin: 5px;
    list-style-type: none;
}

ul {
    list-style-type: disc;
}

@media only screen and ( min-width: 1200px) {


    html {
        border: solid 2px;
        background: rgb(73, 77, 77);
    }
    
     body {
        height: auto;
    }
    
    h1 {
        color: rgb(233, 218, 233);
     }
    #main-name{
        text-align: center;
    }
    
    .img {
        max-width: 200%;
        height: 200px;
        
    }
    
    .zuri {
        float: right;
        max-width: 75%;
        position: relative;
        top: 0%;
    }
    
    #summary {
        max-width: 75%;
        float: right;
        color: tomato;
    }
    .contact{
        max-width: 25%;
        top: 0px;
        left: 5px;
        margin: 20px 8px;
        float: left;
        border-right: solid;
        border-color: rgba(0, 22, 22, 0.4);
        color: wheat;
    }

    
    li {
        text-align: -webkit-match-parent;
        margin: 5px;
    }
    
    ul {
        list-style-type: disc;
    }
}
